@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-blue: #4444e4;
  --text-color: #ebeff2;
}

body {
  background-color: var(--primary-blue);
  color: var(--text-color);
}

.bebas {
  font-family: "Bebas Neue", sans-serif;
}

.large-title {
  font-size: 180px;
  line-height: 76%;
  color: var(--text-color);
  position: absolute;
  top: 35%;
  right: 15%;
}

.subtitle {
  font-size: 1.5rem;
  color: var(--text-color);
  position: absolute;
  bottom: 40%;
  right: 15%;
  cursor: pointer;
  transition: color 0.3s;
}

.subtitle:hover {
  color: #d4d7dd;
}
