@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --primary-blue: #4444e4;
  --text-color: #ebeff2;
  font-family: "Bebas Neue", sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: var(--primary-blue);
  color: var(--text-color);
  margin: 0;
}

.large-title {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 600;
  font-size: 180px;
  line-height: 76%;
  color: var(--text-color);
  position: absolute;
  top: 35%;
  left: 25%;
}

.subtitle {
  font-size: 1.5rem;
  color: var(--text-color);
  position: absolute;
  bottom: 30%;
  right: 10%;
  cursor: pointer;
  transition: color 0.3s;
}

.subtitle:hover {
  color: #d4d7dd;
}
